<ion-header>
  <ion-navbar dark>
    <ion-title>
      GitHub
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
  <h4 style="color:#003366;font-weight: 500;margin-left:15px">Please enter github username:</h4>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="username" type="text"></ion-input>
    </ion-item>

  <div padding>
    <button block (click)="getRepos()">Search</button>
  </div>
  <div style="color:red" *ngIf="isSuccess===false" align="center">
    Please enter correct username
  </div>
  <div *ngIf="isSuccess">
    <div style="color:red" align="center" *ngIf="reposData.length===0">
      No Repos found.
    </div>
    <ion-card style="background-color:whitesmoke" *ngFor="let repo of reposData" (click)="goToDetails(repo)">
      <ion-card-header style="color:#006666">
        {{ repo.name }}
      </ion-card-header>
      <ion-card-content>
        {{ repo.description }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>